<header class="encabezado container-fluid">

    <img src="assets/Foto Curriculum 2.png" class="animate__animated animate__fadeInDown" alt="Foto curriculum">
    
    <div class="header-titulos">
        <h1 class="animate__animated animate__backInDown animate__delay-1s">{{nombreCompleto}}</h1>
        <h2 class="animate__animated animate__backInUp animate__delay-2s">{{cargo}}</h2>
    </div>

</header>


<ul class="pdf nav justify-content-end bg-dark">
    <li class="nav-item animate__animated animate__backInLeft">
      <a class="nav-link text-white" href="assets/Curriculum Vitae Yeiko Muñoz Araya.pdf" target="_blank"><i class="bi bi-download" style="font-size: 30px; margin-right: 10px;"></i>
        Descargar curriculum en pdf</a>
    </li>
  </ul>