<header class="encabezado container-fluid">

    <img src="assets/Foto Curriculum 2.png" class="animate__animated animate__fadeInDown" alt="Foto curriculum">
    
    <div class="header-titulos">
        <h1 class="animate__animated animate__backInDown">{{nombreCompleto}}</h1>
        <h2 class="animate__animated animate__backInUp">{{cargo}}</h2>
    </div>

</header>

<div class="pdf">
    <a href="assets/Curriculum Vitae Yeiko Muñoz Araya.pdf" 
       target="_blank" class="nav-link">
       <i class="bi bi-download" style="font-size: 30px; margin-right: 10px;"></i>
       Descargar PDF</a>
</div>